.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    color: aliceblue;
}

.header .sale {
    display: flex;
    justify-content: space-between;
}

.sale-content {
    display: flex;
    align-items: center;
}

.shop-btn {
    margin-left: 20px;

    color: white;
}

a.headerLink{
    color: aliceblue;
}

.language{
    display: flex;
    color: aliceblue;
}