.hero-section-main {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
}

.filtersDiv {
    border-right: 1px solid black;
    width: 20%;
}

.sliderDiv {
    width: 80%;
    padding-left: 30px;
}

.carousel-item{
    object-fit: contain;
}

