.hero-section-main-container {
    display: flex;
    justify-content: center;
}

.hero-section-main {
    margin-top: 50px;
    display: flex;
    width: 88%;
    justify-content: center;
    align-items: center;
}

.filterDiv {
    height: 50vh;
    width: 40%;
    border-right: 1px solid black;
    display: flex;
    position: absolute;
}

.sliderDiv {
    height: 100%;
    width: 89%;
    padding-left: 100px;
}

.carousel-item{
    object-fit: contain;
}

