.timerInfo{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.timer{
    display: flex;
}

.whatsNew{
    display: flex;
    align-items: center;
}

.redBar{
    width: 20px;
    height: 40px;
    background-color: #DB4444;
    border-radius: 5px;
}

.newsContext{
    padding-left: 20px;
    color: #DB4444;
}