.saleTime{
    padding: 80px 100px;

}

.timerInfo{
    padding-left: 310px;
    word-spacing: 20px;
}

.timer{
    display: flex;
}

.clock{
    padding-left: 100px;
}

.whatsNew{
    display: flex;
    align-items: center;
}

.redBar{
    width: 20px;
    height: 40px;
    background-color: #DB4444;
    border-radius: 5px;
}

.newsContext{
    padding-left: 20px;
    color: #DB4444;
}