.saleTime{
    padding-top: 200px;
    padding-left: 120px;
}

.timerInfo{
    padding-left: 310px;
    word-spacing: 20px;
}

.timer{
    display: flex;
}

.clock{
    padding-left: 100px;
}

.whatsNew{
    display: flex;
    align-items: center;
}

.redBar{
    width: 20px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
}

.newsContext{
    padding-left: 20px;
    color: red;
}